Influencers and Fake News/Repo_Claim_Matching/web24-beyondfacts-workshop-claim-matching/.git
Influencers and Fake News/ct_combined_20-23.csv
Influencers and Fake News/account_clusters.csv
Influencers and Fake News/true_false_misleading_claims.xlsx
Influencers and Pro-Social Behavior/account_clusters.csv
Influencers and Pro-Social Behavior/ct_combined_20-23.csv
Sexually Explicit Deepfakes/Posts_angelaraynermp.json
Sexually Explicit Deepfakes/Posts_carahuntermla.json
#maybe add them again if they are too large
#Sexually Explicit Deepfakes/Code/flattened_comments_*.csv
.DS_Store
.idea/
__pycache__/
*.py[cod]
*.ckpt
.ipynb_checkpoints/
.venv/
.env/
*.Rhistory
